#whole {
  margin-left: 30px;
  margin-right: 30px;
  height: 1000px;
  border: 1px solid gray;
}
#middle {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  border: 1px solid gray;
}
.ui.fitted.four.column.grid.container {
  margin-top: 20px;
}
#left-box {
  width: 45%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: 1px solid gray;
}
#right-box {
  width: 45%;
  margin-bottom: 20px;
  margin-right: 20px;
  float: right;
  border: 1px solid gray;
}
h3 {
  text-align: center;
}
.column.f {
  border: 1px solid gray;
}
.ui.fitted.two.column.grid.container {
  margin-top: 20px;
}