#whole {
  margin-left: 30px;
  margin-right: 30px;
  height: 1000px;
  border: 1px solid gray;
}
#middle {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  border: 1px solid gray;
}
.ui.fitted.four.column.grid.container {
  margin-top: 20px;
}
h3 {
  text-align: center;
}
.column.f {
  border: 1px solid gray;
}
.ui.fitted.two.column.grid.container {
  margin-top: 20px;
}
.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}